In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
data = pd.read_csv("/kaggle/input/noshowappointments/KaggleV2-May-2016.csv")

In [3]:
data.head()
data = data.drop(['PatientId', 'AppointmentID'], axis=1)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Gender          110527 non-null  object
 1   ScheduledDay    110527 non-null  object
 2   AppointmentDay  110527 non-null  object
 3   Age             110527 non-null  int64
 4   Neighbourhood   110527 non-null  object
 5   Scholarship     110527 non-null  int64
 6   Hipertension    110527 non-null  int64
 7   Diabetes        110527 non-null  int64
 8   Alcoholism      110527 non-null  int64
 9   Handcap         110527 non-null  int64
 10  SMS_received    110527 non-null  int64
 11  No-show         110527 non-null  object
dtypes: int64(7), object(5)
memory usage: 10.1+ MB

In [5]:
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()
Gender = data[["Gender"]]
Gender_encoded = ordinal_encoder.fit_transform(Gender)
data["Gender"]=Gender_encoded 
data.head()

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,0.0,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,1.0,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,0.0,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,0.0,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,0.0,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [6]:
Noshow = data[["No-show"]]
No_show_encoded = ordinal_encoder.fit_transform(Noshow)
data["No-show"] = No_show_encoded
data.head(6)

,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,0.0,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,0.0
1,1.0,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,0.0
2,0.0,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,0.0
3,0.0,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,0.0
4,0.0,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,0.0
5,0.0,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,76,REPÃšBLICA,0,1,0,0,0,0,0.0

In [7]:
data['ScheduledDay'] = pd.to_datetime(data['ScheduledDay'])
data['AppointmentDay'] = pd.to_datetime(data['AppointmentDay'])
data['days_between'] = (data['AppointmentDay'] - data['ScheduledDay']).dt.days +1
data = data.drop(['ScheduledDay', 'AppointmentDay'], axis=1)

In [8]:
cols = data.columns.tolist()
cols.insert(1, cols.pop(cols.index('days_between')))
data = data[cols]

In [9]:
data.head()

,Gender,days_between,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,0.0,0,62,JARDIM DA PENHA,0,1,0,0,0,0,0.0
1,1.0,0,56,JARDIM DA PENHA,0,0,0,0,0,0,0.0
2,0.0,0,62,MATA DA PRAIA,0,0,0,0,0,0,0.0
3,0.0,0,8,PONTAL DE CAMBURI,0,0,0,0,0,0,0.0
4,0.0,0,56,JARDIM DA PENHA,0,1,1,0,0,0,0.0

In [10]:
data['Neighbourhood'].value_counts()

Neighbourhood
JARDIM CAMBURI                 7717
MARIA ORTIZ                    5805
RESISTÃŠNCIA                    4431
JARDIM DA PENHA                3877
ITARARÃ‰                        3514
                               ...
ILHA DO BOI                      35
ILHA DO FRADE                    10
AEROPORTO                         8
ILHAS OCEÃ‚NICAS DE TRINDADE       2
PARQUE INDUSTRIAL                 1
Name: count, Length: 81, dtype: int64

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['Neighbourhood_encoded'] = le.fit_transform(data['Neighbourhood'])
data['Neighbourhood']= data['Neighbourhood_encoded']
data = data.drop(['Neighbourhood_encoded'], axis=1)
data.head()

,Gender,days_between,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,0.0,0,62,39,0,1,0,0,0,0,0.0
1,1.0,0,56,39,0,0,0,0,0,0,0.0
2,0.0,0,62,45,0,0,0,0,0,0,0.0
3,0.0,0,8,54,0,0,0,0,0,0,0.0
4,0.0,0,56,39,0,1,1,0,0,0,0.0

In [12]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
data['Age_scaled']  = scaler.fit_transform(data['Age'].values.reshape(-1,1))
data['Age'] = data['Age_scaled'] 
data = data.drop(['Age_scaled'], axis=1)
data.head(5)

,Gender,days_between,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,0.0,0,1.077932,39,0,1,0,0,0,0,0.0
1,1.0,0,0.818306,39,0,0,0,0,0,0,0.0
2,0.0,0,1.077932,45,0,0,0,0,0,0,0.0
3,0.0,0,-1.258708,54,0,0,0,0,0,0,0.0
4,0.0,0,0.818306,39,0,1,1,0,0,0,0.0

In [13]:
data.isnull().sum()

Gender           0
days_between     0
Age              0
Neighbourhood    0
Scholarship      0
Hipertension     0
Diabetes         0
Alcoholism       0
Handcap          0
SMS_received     0
No-show          0
dtype: int64

In [14]:
data.corr()

,Gender,days_between,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
Gender,1.000000,-0.028406,-0.106440,-0.008058,-0.114293,-0.055718,-0.032554,0.106167,0.022814,-0.046298,-0.004119
days_between,-0.028406,1.000000,0.034820,-0.002057,-0.030421,-0.017215,-0.027188,-0.038519,-0.019843,0.398145,0.186231
Age,-0.106440,0.034820,1.000000,-0.016358,-0.092457,0.504586,0.292391,0.095811,0.078033,0.012643,-0.060319
Neighbourhood,-0.008058,-0.002057,-0.016358,1.000000,0.006866,0.004323,0.011347,-0.000010,0.010990,0.018269,-0.008962
Scholarship,-0.114293,-0.030421,-0.092457,0.006866,1.000000,-0.019729,-0.024894,0.035022,-0.008586,0.001194,0.029135
Hipertension,-0.055718,-0.017215,0.504586,0.004323,-0.019729,1.000000,0.433086,0.087971,0.080083,-0.006267,-0.035701
Diabetes,-0.032554,-0.027188,0.292391,0.011347,-0.024894,0.433086,1.000000,0.018474,0.057530,-0.014550,-0.015180
Alcoholism,0.106167,-0.038519,0.095811,-0.000010,0.035022,0.087971,0.018474,1.000000,0.004648,-0.026147,-0.000196
Handcap,0.022814,-0.019843,0.078033,0.010990,-0.008586,0.080083,0.057530,0.004648,1.000000,-0.024161,-0.006076
SMS_received,-0.046298,0.398145,0.012643,0.018269,0.001194,-0.006267,-0.014550,-0.026147,-0.024161,1.000000,0.126431
No-show,-0.004119,0.186231,-0.060319,-0.008962,0.029135,-0.035701,-0.015180,-0.000196,-0.006076,0.126431,1.000000

In [15]:
data =  np.array(data)
m,n = data.shape
np.random.shuffle(data)
data.shape

(110527, 11)

In [ ]:
data_dev = data[0:14000].T
Y_dev = data_dev[n-1]
X_dev = data_dev[0:n-1]

data_train = data[14000:m].T
Y_train = data_train[n-1]
X_train = data_train[0:n-1]

In [ ]:
X_train[:,0].shape

In [ ]:
def RELU(Z):
    return np.maximum(0, Z)

def RELU_deriv(Z):
    return Z > 0

def sigmoid(Z):
    return 1 / (1 + np.exp(-Z))
    
def compute_loss(A2, Y,w0 =1, w1 = 4):
    m = Y.shape[0]
    return -np.sum( w1 * Y * np.log(A2 + 1e-12) + w0 * (1 - Y) * np.log(1 - A2 + 1e-12)) / m
    
def init_params():
    W1 = np.random.randn(64, 10) * 0.01
    b1 = np.zeros((64, 1))
    W2 = np.random.randn(1,64) * 0.01
    b2 = np.zeros((1, 1))
    return W1, b1, W2, b2
    
def forward_prop(W1, b1, W2, b2, X):
    Z1 = W1.dot(X) + b1
    A1 = RELU(Z1) 
    Z2 = W2.dot(A1) + b2
    A2 = sigmoid(Z2)
    return Z1, A1, Z2, A2
def backward_prop(Z1, A1, A2, W2, X, Y):
    m = X.shape[0]
    dZ2 = A2 - Y
    dW2 = (1 / m) * dZ2.dot(A1.T)
    db2 = (1 / m) * np.sum(dZ2, axis=1, keepdims=True)
    
    dZ1 = (W2.T.dot(dZ2)) * RELU_deriv(Z1) 
    dW1 = (1 / m) * dZ1.dot(X.T)
    db1 = (1 / m) * np.sum(dZ1, axis=1, keepdims=True)
    
    return dW1, db1, dW2, db2
def update_params(W1, b1, W2, b2, dW1, db1, dW2, db2, alpha):
    W1 -= alpha * dW1
    b1 -= alpha * db1
    W2 -= alpha * dW2
    b2 -= alpha * db2
    return W1, b1, W2, b2

In [ ]:
def get_predictions(A2):
    return A2 > 0.25

def get_accuracy(predictions, Y):
    return np.mean(predictions == Y)

def gradient_descent(X, Y, alpha, iterations):
    W1, b1, W2, b2 = init_params()
    
    for i in range(iterations):
        Z1, A1, Z2, A2 = forward_prop(W1, b1, W2, b2, X)
        loss = compute_loss(A2, Y)
        dW1, db1, dW2, db2 = backward_prop(Z1, A1, A2, W2, X, Y)
        W1, b1, W2, b2 = update_params(W1, b1, W2, b2, dW1, db1, dW2, db2, alpha)
        
        if i % 50 == 0 or i == iterations - 1:
           print("Iteration: ", i)
           print("A2 values:\n", A2[:10])
           print("Accuracy: ", get_accuracy(get_predictions(A2), Y))
    
    return W1, b1, W2, b2

In [ ]:
W1, b1, W2, b2 = gradient_descent(X_train, Y_train, alpha=0.00001, iterations=500)

In [ ]:
Y_train

In [ ]:
def predict(X, W1, b1, W2, b2):
    _, _, _, A2 = forward_prop(W1, b1, W2, b2, X)
    return A2 > 0.3

In [ ]:
testing = predict(X_dev,W1,b1,W2,b2)
predictions = testing.astype(int)

In [ ]:
get_accuracy(testing,Y_dev)

In [ ]:
from sklearn.metrics import f1_score

In [ ]:
f1_score(testing.T, Y_dev, zero_division=1.0, average = 'weighted')

In [ ]:
from sklearn.metrics import precision_recall_curve, auc
precision, recall, _ = precision_recall_curve(Y_dev, predictions.T)

In [ ]:
pr_auc = auc(recall, precision)
pr_auc

In [ ]:
plt.plot(recall, precision, label=f'PR AUC = {pr_auc:.4f}')
plt.xlabel("Recall")
plt.ylabel("Precision")
plt.legend()
plt.grid()
plt.show()

In [ ]:
from sklearn.metrics import confusion_matrix
import seaborn as sns
cm = confusion_matrix(Y_dev, predictions.T)

In [ ]:
plt.figure(figsize=(6,4))
sns.heatmap(cm, annot=True, fmt='d', cmap='Reds')
plt.xlabel('Predicted')
plt.ylabel('True')
plt.show()